<div class="container-fluid">
  <div class="container">
    <h2 class="text-center">Cadastrar novo cliente</h2>
    <div class="row d-flex justify-content-center">
      <div class="col-md-8">
        <form>
          <div class="form-group mt-2">
            <label for="nome">Nome:</label>
            <input type="text" class="form-control border-dark" name="nome" id="nome" [(ngModel)]="cliente.nome">
          </div>
          <div class="form-group mt-2">
            <label for="email">E-mail:</label>
            <input type="email" class="form-control border-dark" name="email" id="email" [(ngModel)]="cliente.email">
          </div>
          <div class="d-flex gap-3">
            <div class="form-group mt-2 w-25">
              <label for="cep">CEP:</label>
              <input type="text" class="form-control border-dark " name="cep" id="cep" mask='AAAAA-AAA' [(ngModel)]="cliente.cep" (input)="getCep()">
            </div>
            <div class="form-group mt-2 w-100">
              <label for="endereco">Endereço:</label>
              <input type="text" class="form-control border-dark " name="endereco" id="endereco" [(ngModel)]="cliente.endRua">
            </div>
            <div class="form-group mt-2 w-25">
              <label for="numero">Número:</label>
              <input type="text" class="form-control border-dark " name="numero" id="numero" [(ngModel)]="cliente.endNum">
            </div>
          </div>
          <div class="d-flex gap-3">
            <div class="form-group mt-2 w-100">
              <label for="tel1">Telefone 1:</label>
              <input type="text" class="form-control border-dark" name="tel1" id="tel1" mask="(AA)AAAA-AAAA || (AA)AAAAA-AAAA" [(ngModel)]="cliente.telefone1">
            </div>
            <div class="form-group mt-2 w-100">
              <label for="tel2">Telefone 2:</label>
              <input type="tel" class="form-control border-dark " name="tel2" id="tel2" mask="(AA)AAAA-AAAA || (AA)AAAAA-AAAA" [(ngModel)]="cliente.telefone2">
            </div>
          </div>
          <div class="form-group mt-2">
            <label for="obs">Observações:</label>
            <textarea name="obs" id="obs" rows="3" class="form-control border-dark"></textarea>
          </div>

          <button class="w-50 mt-3 d-block mx-auto btn btn-outline-dark" (click)="cadastrarCliente()">Cadastrar</button>
        </form>
      </div>
    </div>
  </div>
</div>