<div class="container-fluid" id="pdf" #pdfTable>
  <div class="container">
    <h3 class="text-center">Detalhes do cliente</h3><hr>
    <button (click)="gerarPDF()" class="btn p-2"><i class="ph-file-pdf-fill display-4"></i></button>

    <div class="d-flex justify-content-between">
      <p>Nome: {{cliente.nome}}</p>
      <p>E-mail: {{cliente.email}}</p>
    </div>

    <div class="d-flex justify-content-between">
      <p>Endereço: {{cliente.endRua}} - {{cliente.endNum}}</p>
      <p>CEP: {{cliente.cep}}</p>
    </div>


    <h4 class="pb-0 mb-0">Contatos:</h4> <hr>
    <div class="row d-flex justify-content-center">

      <div class="d-flex w-75 justify-content-between">
        <p>{{cliente.telefone1 | mask:'(AA)AAAAA-AAAA || (AA)AAAA-AAAA'}} <span *ngIf="cliente.whats == true"><i class="ph-whatsapp-logo-fill text-success"></i></span></p>
        <p *ngIf="cliente.telefone2 != null">{{cliente.telefone2 | mask:'(AA)AAAAA-AAAA || (AA)AAAA-AAAA'}}</p>
        <p *ngIf="cliente.telefone2 == null">Não possui segundo contato</p>
      </div>
    </div>
    <hr>
    <h3 class="text-center">Ordens de serviço</h3>
    <ng-container *ngFor="let os of cliente.ordemServico; index as ordem">
      <div class="row border border-1 border-dark rounded my-3" >
        <div class="col-md-12 text-center">
          <h5 class="pb-0 mb-0">Ordem de serviço nº {{os.id}}</h5>
        </div>
        <div class="col-md-12 text-center">
          <p>Data de abertura: {{os.dataEntrada | date:'dd/MM/yyyy'}}</p>
          <p [hidden]="os.dataEntrega == null">Data de fechamento: {{os.dataEntrega | date:'dd/MM/yyyy'}}</p>
        </div>
        <div class="col-md-12 text-center">
          <p *ngIf="os.entregue == true" class="text-muted fw-bold">Status: entregue ao cliente</p>
          <p *ngIf="os.entregue == false" class="text-dark fw-bold">Status: reparo em andamento</p>
        </div>
        <div class="col-md-12 text-center">
          <p>Descrição: {{os.descricao}}</p>
        </div>
        <div class="col-md-12 text-center">
          <p>Valor: R$ {{os.valor | number:'1.2-2'}}</p>
        </div>
        <div class="col-md-12 text-center">
          <p>Produto: {{os.equipamento}}</p>
        </div>
      </div>
    </ng-container>
  </div>
</div>